

body{
    font-family: consolas;
}

#window{
    text-align: center;
    position: relative;
}

#grid{
    display: grid;
    grid-template-columns: repeat(var(--nb_columns),1fr);
    grid-template-rows: repeat(var(--nb_rows),1fr);
    width: calc(var(--s)* var(--nb_columns));
    height: calc(var(--s)*var(--nb_rows));
    margin: auto ;
    position: relative;
    border: 2px solid black;
}

.case{
    font-weight: 700;
    line-height: var(--s);
    text-align: center;
    box-shadow: inset 0px 0px 1px 0px;
}

.text{
    font-size: var(--s)px ;
    display: inline-block;
    vertical-align: middle;
}

.start{
    background-color: yellowgreen;
}
.end{
    background-color: red;
}

.upWall{
    border-top: 1px solid black;
}

.downWall{
    border-bottom: 1px solid black;
}
.leftWall{
    border-left: 1px solid black;
}
.rightWall{
    border-right: 1px solid black;
}
